Repository kotn3l/OnlinePizzeria_Labor2, pull requests merged in 2020-05, with the labels that each got.

#34 Backend Auth: add session string validation
  Backend/server/src/main/java/hu/onlinepizzeria/server/controller/AuthenticationController.java
Labels: backend

#36 Backend alpha login response
  Backend/server/src/main/java/hu/onlinepizzeria/server/controller/AuthenticationController.java
Labels: backend, bug

#37 Missing config file
  Backend/server/src/main/java/hu/onlinepizzeria/server/controller/AuthenticationController.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/web/SecurityConfiguration.java
  Backend/server/src/main/resources/application.properties
Labels: bug, easy

#38 Backend alpha auth2
  .directory
  .gitignore
  Backend/server/pom.xml
  Backend/server/src/main/java/hu/onlinepizzeria/server/controller/AuthenticationController.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/controller/PizzaController.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/core/model/Role.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/core/model/User.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/core/model/UserRole.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/dao/RoleRepo.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/dao/UserRepo.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/service/AuthenticationService.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/service/jwt/InvalidJwtAuthenticationException.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/service/jwt/JwtAuthenticationEntryPoint.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/service/jwt/JwtProperties.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/service/jwt/JwtSecurityConfigurer.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/service/jwt/JwtTokenAuthenticationFilter.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/service/jwt/JwtTokenProvider.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/web/SecurityConfiguration.java
  Backend/server/src/main/resources/application.properties
  Backend/sql/pizzeria.sql
  Backend/sql/pizzeria_old.sql
Labels: backend

#40 Backend alpha delivery2
  Backend/server/src/main/java/hu/onlinepizzeria/server/controller/AuthenticationController.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/controller/DeliveryController.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/core/model/Delivery.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/core/service/DeliveryManagerInterface.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/dao/DeliveryRepo.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/service/DeliveryManager.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/web/WebConfig.java
Labels: backend

#45 Backend
  .directory
  .gitignore
  Backend/server/pom.xml
  Backend/server/src/main/java/hu/onlinepizzeria/server/controller/AuthenticationController.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/controller/DeliveryController.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/controller/OrderController.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/controller/PizzaController.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/controller/SchedulingController.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/core/Views.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/core/model/Customer.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/core/model/Delivery.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/core/model/DeliveryCities.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/core/model/Ingredient.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/core/model/Order.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/core/model/OrderedPizza.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/core/model/PayMethod.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/core/model/Pizza.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/core/model/Role.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/core/model/ScheduledPizza.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/core/model/SchedulingAlgorithms.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/core/model/User.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/core/model/UserRole.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/core/service/DeliveryManagerInterface.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/core/service/OrderManagerInterface.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/core/service/PizzaManagerInterface.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/core/service/SchedulingManagerInterface.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/dao/CityRepo.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/dao/CustomerRepo.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/dao/DeliveryRepo.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/dao/IngredientRepo.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/dao/OrderRepo.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/dao/PayMethodRepo.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/dao/PizzaRepo.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/dao/RoleRepo.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/dao/SchedulingRepo.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/dao/UserRepo.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/service/AuthenticationService.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/service/DeliveryManager.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/service/OrderManager.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/service/PizzaManager.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/service/SchedulingManager.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/service/jwt/InvalidJwtAuthenticationException.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/service/jwt/JwtAuthenticationEntryPoint.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/service/jwt/JwtProperties.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/service/jwt/JwtSecurityConfigurer.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/service/jwt/JwtTokenAuthenticationFilter.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/service/jwt/JwtTokenProvider.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/web/CorsConfig.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/web/SecurityConfiguration.java
  Backend/server/src/main/java/hu/onlinepizzeria/server/web/WebConfig.java
  Backend/server/src/main/resources/application-integrationtest.properties
  Backend/server/src/main/resources/application.properties
  Backend/server/src/test/java/hu/onlinepizzeria/server/AuthenticationTests.java
  Backend/sql/pizzeria.sql
  Backend/sql/pizzeria_old.sql
Labels: backend
